<section
    *ngIf="selectedDevice$ | async as device"
    class="device-control-container">
  <form [formGroup]="configForm" class="config-form">
    <h1>{{device.id}}</h1>
    <div formGroupName="leds">
      <h2>Leds</h2>
      <div class="led-checkbox-list">
        <mat-checkbox
            formControlName="builtin"
            class="led-checkbox">Builtin</mat-checkbox>
      </div>
    </div>
    <button mat-raised-button
        (click)="submitConfiguration()"
        class="submit-button">Post Config</button>
  </form>
</section>
