<section
    *ngIf="selectedDevice$ | async as device"
    class="device-control-container">
  <arm-arm-model
      #armModel
      [armGeometry]="armGeometry"
      class="model-display"></arm-arm-model>

  <button mat-fab
      (click)="armModel.toggleControlMode()"
      class="toggle-control-mode-fab">
      <!--TODO: find a better icon -->
    <mat-icon>transform</mat-icon>
  </button>
  <button mat-fab
      (click)="sendConfig(armModel.jointAngles)"
      class="send-config-fab">
    <mat-icon>send</mat-icon>
  </button>
</section>
